.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 7px;
    border: 1px solid purple;
    padding: 30px;
    color: white;
}

h5{
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    font-weight: normal;
}

.done{
    color: green;
}

.to-do{
    color: black;
}

.btn-delete{
    padding: 2px 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}