.form-control{
    padding: 5px;
}
.btn-submit{
    padding: 5px 8px;
    background-color: plum;
    color: white;
    font-weight: bold;
    border-color: transparent;
    cursor: pointer;
    margin-left: 10px;
}

.text-danger{
    color: red;
    margin-left: 10px;
}