.add-task{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 25px;
    background-image: linear-gradient(to right bottom, rgb(236, 44, 236), rgb(248, 248, 64));
}